*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
}

/* imagen de cabecera de la pagina*/
#img1{
    width: 200px; 
    height: 70px;
}

/* cabecera de la pagina*/
#col{
    background-color: rgb(168, 29, 124);
    height: 120px;
}

.container{
    max-width: 700px;  
}

#footer_personalizado{
    background-color: black;
}
#footer_letras{
    color: white;
}

#footer_titulo{
    color:  rgb(168, 29, 124);
}
