*{
    margin: 0;
    font-family: "Quicksand";
}

/*--------------------*/
/*imagenes html,css y js*/
img{
    width: 120px;
}
#header-image{
    width: 100%;
    height: 5%;
}

#html{
    width: 170px;
/*--------------------*/

}

#img1{
    width: 200px; 
    height: 70px;
}
.titulo{
    background-color: rgba(167, 166, 166, 0.26);
}
#col{
    background-color: rgb(168, 29, 124);
}

.container{
    max-width: 700px;  
}
